* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  border: 0;
  outline: 0;
}

html {
  font-family: "Arima", sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container1 {
  background-color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #12121232;
  padding: 12px;
}

.container1 > span {
  color: rgb(18, 18, 18);
  font-size: 16px;
  font-family: 400;
}

.container1 > nav > ul {
  display: flex;
  gap: 12px;
  list-style: none;
}

.container1 > nav > ul li a {
  color: rgb(0, 0, 238);
  font-size: 16px;
  font-weight: 400;
}

main {
  display: flex;
}

aside {
  position: sticky;
  top: 50px;
  background-color: #121212;
  min-width: 240px;
  height: calc(100vh - 50px);
  padding: 12px;
}

aside > h3 {
  color: #fbfbfb;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

aside > p {
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}

.links > ul {
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.links > ul li a {
  color: #fbfbfb;
}

.container2 {
  display: flex;
  flex-direction: column;
}

.hero {
  padding: 12px;
  border-bottom: 2px solid #12121232;
}

.hero > h1 {
  color: #121212;
  margin-bottom: 12px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.gallery > div {
  background-color: red;
  width: calc((100% - 36px) / 4);
  transition: transform 0.4s ease;
}

.gallery > div:hover {
  transform: scale(1.05);
}

.gallery > div img {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 12px;
}

@media screen and (max-width: 1024px) {
  .gallery > div {
    width: calc((100% - 12px) / 2);
  }
}

@media screen and (max-width: 768px) {
  aside {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .gallery > div {
    width: 100%;
  }
  aside {
    display: none;
  }
}
