* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

main {
  background-color: #ffffff;

  padding-top: 50px;
  padding-left: 102px;
  padding-right: 102px;
}

.header > h1 {
  font-size: 48px;
  font-family: "Inter", sans-serif;
  word-spacing: 2px;
}

.header > h1 span {
  display: inline-block;
  border-bottom: 6px solid #007bff;
  padding-bottom: 8px;
  border-radius: 2px;
}

.products {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 50px;
}

.items {
  width: calc((100% - 36px) / 4);
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  border: 1px solid #32323232;
  border-radius: 6px;
  padding: 12px;
}

.items > img {
  width: 100%;
  aspect-ratio: 276/184;
  padding-bottom: 12px;
}

.products h3 {
  font-size: 22px;
  padding-bottom: 12px;
}

.items p {
  color: #32323296;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 12px;
}

.items > h4 {
  color: #28a745;
  font-size: 20px;
  font-weight: bold;
}

.items > h4 > span {
  color: #dc3545;
  font-size: 18px;
  font-weight: bold;
  text-decoration: line-through;
  padding-left: 8px;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.actions button {
  width: 200px;
  height: 50px;
  background-color: #007bff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 5px;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.actions .wishlist {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 1135px) {
  .items {
    width: calc((100% - 24px) / 3);
  }

  main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 910px) {
  .items {
    width: calc((100% - 12px) / 2);
  }
  main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 690px) {
  .items {
    width: 100%;
  }

  .header {
    text-align: center;
  }

  .header > h1 {
    display: inline-block;
    border-bottom: 6px solid #007bff;
    padding-bottom: 8px;
    border-radius: 2px;
  }

  .header > h1 > span {
    border: none;
  }

  main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 510px) {
  .items {
    width: 100%;
  }

  .header {
    text-align: center;
    width: 100%;
  }

  .header > h1 {
    font-size: 30px;
    width: 100%;
    border-bottom: 6px solid #007bff;
    padding-bottom: 8px;
    border-radius: 2px;
  }

  .header > h1 > span {
    border: none;
  }

  main {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
