* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  border: 0;
  outline: 0;
}
html {
  background-color: #83a3a9;
}

.summation {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 10px auto;
}
h1 {
  margin-bottom: 20px;
}

input::placeholder {
  font-weight: bold;
  text-align: center;
}
