main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.firstRow {
  display: flex;
  justify-content: space-between;
}

.item1 {
  width: 10vw;
  height: 5vw;
  background-color: rgba(128, 128, 128, 0.647);
}

.item2 {
  width: 20vw;
  height: 5vw;
  background-color: rgba(128, 128, 128, 0.647);
}

.item3 {
  width: 100%;
  height: 35vh;
  background-color: rgba(128, 128, 128, 0.647);
}

.thirdRow {
  display: flex;
  justify-content: space-between;
}

.item4 {
  width: 15vw;
  height: 25vh;
  background-color: rgba(128, 128, 128, 0.647);
}

.item5,
.item6 {
  width: 84vw;
  height: 25vh;
  background-color: rgba(128, 128, 128, 0.647);
}

.fourthRow {
  display: flex;
  justify-content: space-between;
}

.item6 {
  width: 84vw;
  height: 23.5vh;
  background-color: rgba(128, 128, 128, 0.647);
}

.item7 {
  width: 15vw;
  height: 23.5vh;
  background-color: rgba(128, 128, 128, 0.647);
}
