* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  position: relative;
  border-radius: 0;
  outline: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.item1 {
  width: 100vw;
  height: 10vh;
  background-color: rgba(128, 128, 128, 0.647);
}

.item2 {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.item2-1,
.item2-3 {
  width: 10%;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.647);
}

.item2-2 {
  width: 75%;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.647);
}

.item3 {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.item3-1 {
  width: 45%;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.647);
}

.item3-2 {
  width: 20%;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.647);
}

.item3-3 {
  width: 30%;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.647);
}

.item4 {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.item4-1 {
  width: 31%;
  height: 300px;
  background-color: rgba(128, 128, 128, 0.647);
}

.item4-2 {
  width: 34%;
  height: 300px;
  background-color: rgba(128, 128, 128, 0.647);
}

.item4-3 {
  width: 30%;
  height: 300px;
  background-color: rgba(128, 128, 128, 0.647);
}

.item5 {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.item5-1 {
  width: 52%;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.647);
}

.item5-2 {
  width: 23%;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.647);
}

.item5-3 {
  width: 20%;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.647);
}

.item6 {
  width: calc(100%-15px);
  height: 20vh;
  background-color: rgba(128, 128, 128, 0.647);
  margin: 0 15px;
}
