.Container {
  width: 350px;
  height: 400px;
  background-color: blanchedalmond;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(7, 50px);
  margin-top: 50px;
  margin-inline: auto;
}

.Container div {
  width: 50px;
  height: 50px;
}

.Container > div:nth-child(odd) {
  background-color: white;
}

.Container > div:nth-child(even) {
  background-color: black;
}
